USE [CINEDB]
GO
/****** Object:  Table [dbo].[actores]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actores](
	[id_actor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[biografia] [varchar](2000) NULL,
 CONSTRAINT [pk_actores] PRIMARY KEY CLUSTERED 
(
	[id_actor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[barrios]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barrios](
	[id_barrio] [int] IDENTITY(1,1) NOT NULL,
	[barrio] [varchar](50) NOT NULL,
	[id_ciudad] [int] NOT NULL,
 CONSTRAINT [pk_barrio] PRIMARY KEY CLUSTERED 
(
	[id_barrio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[butacas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[butacas](
	[id_butaca] [int] IDENTITY(1,1) NOT NULL,
	[id_tipo_butacas] [int] NOT NULL,
	[id_estado_butaca] [int] NOT NULL,
	[id_sala] [int] NOT NULL,
	[fila] [varchar](5) NOT NULL,
	[numero] [int] NOT NULL,
 CONSTRAINT [pk_butacas] PRIMARY KEY CLUSTERED 
(
	[id_butaca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cajeros]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cajeros](
	[id_cajero] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[id_turno] [int] NOT NULL,
	[id_sucursal] [int] NULL,
 CONSTRAINT [pk_cajeros] PRIMARY KEY CLUSTERED 
(
	[id_cajero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[canales_ventas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[canales_ventas](
	[id_canal_venta] [int] IDENTITY(1,1) NOT NULL,
	[canal_venta] [varchar](50) NOT NULL,
 CONSTRAINT [pk_canales_ventas] PRIMARY KEY CLUSTERED 
(
	[id_canal_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ciudades]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ciudades](
	[id_ciudad] [int] IDENTITY(1,1) NOT NULL,
	[ciudad] [varchar](50) NOT NULL,
	[id_provincia] [int] NOT NULL,
 CONSTRAINT [pk_ciudad] PRIMARY KEY CLUSTERED 
(
	[id_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clasificaciones]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clasificaciones](
	[id_clasificacion] [int] IDENTITY(1,1) NOT NULL,
	[clasificacion] [varchar](20) NOT NULL,
 CONSTRAINT [pk_clasificaciones] PRIMARY KEY CLUSTERED 
(
	[id_clasificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[cod_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[nro_doc] [varchar](20) NOT NULL,
	[id_tipo_doc] [int] NOT NULL,
	[fecha_nacimiento] [date] NULL,
	[fecha_registro] [datetime] NOT NULL,
	[id_direccion] [int] NULL,
	[password_hash] [varchar](255) NULL,
	[es_admin] [bit] NOT NULL,
 CONSTRAINT [pk_cliente] PRIMARY KEY CLUSTERED 
(
	[cod_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes_contactos]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes_contactos](
	[id_clientes_contacto] [int] IDENTITY(1,1) NOT NULL,
	[id_contacto] [int] NULL,
	[cod_cliente] [int] NULL,
 CONSTRAINT [pk_clientes_contactos] PRIMARY KEY CLUSTERED 
(
	[id_clientes_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[combos]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[combos](
	[id_combo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
	[id_tipo_combo] [int] NOT NULL,
 CONSTRAINT [pk_combos] PRIMARY KEY CLUSTERED 
(
	[id_combo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[condiciones_IVA]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[condiciones_IVA](
	[id_condicion_IVA] [int] IDENTITY(1,1) NOT NULL,
	[condicion] [varchar](20) NOT NULL,
 CONSTRAINT [pk_condiciones_IVA] PRIMARY KEY CLUSTERED 
(
	[id_condicion_IVA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contactos]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactos](
	[id_contacto] [int] IDENTITY(1,1) NOT NULL,
	[contacto] [varchar](50) NULL,
	[id_tipo_contacto] [int] NULL,
 CONSTRAINT [pk_contactos] PRIMARY KEY CLUSTERED 
(
	[id_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_facturas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_facturas](
	[id_detalle_factura] [int] IDENTITY(1,1) NOT NULL,
	[nro_factura] [int] NOT NULL,
	[nro_entrada] [int] NULL,
	[id_producto_shop] [int] NULL,
	[id_promocion] [int] NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal]  AS ([cantidad]*[precio_unitario]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dias_promociones]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dias_promociones](
	[id_dia_promocion] [int] IDENTITY(1,1) NOT NULL,
	[dias_promocion] [varchar](20) NOT NULL,
 CONSTRAINT [pk_dias_promociones] PRIMARY KEY CLUSTERED 
(
	[id_dia_promocion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[direcciones]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[direcciones](
	[id_direccion] [int] IDENTITY(1,1) NOT NULL,
	[calle] [varchar](50) NOT NULL,
	[altura] [int] NOT NULL,
	[piso] [int] NULL,
	[depto] [varchar](10) NULL,
	[id_barrio] [int] NOT NULL,
 CONSTRAINT [pk_direccion] PRIMARY KEY CLUSTERED 
(
	[id_direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[directores]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[directores](
	[id_director] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[apellido] [varchar](100) NOT NULL,
	[fecha_nacimiento] [date] NULL,
	[bio] [varchar](2000) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_director] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[distribuidores]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[distribuidores](
	[id_distribuidor] [int] IDENTITY(1,1) NOT NULL,
	[distribuidor] [varchar](20) NOT NULL,
 CONSTRAINT [pk_distribuidores] PRIMARY KEY CLUSTERED 
(
	[id_distribuidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[entradas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[entradas](
	[nro_entrada] [int] IDENTITY(1,1) NOT NULL,
	[id_funcion] [int] NOT NULL,
	[id_butaca] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nro_entrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados_butacas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados_butacas](
	[id_estado_butaca] [int] IDENTITY(1,1) NOT NULL,
	[estado_butaca] [varchar](50) NOT NULL,
 CONSTRAINT [pk_estados_butacas] PRIMARY KEY CLUSTERED 
(
	[id_estado_butaca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados_compras]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados_compras](
	[id_estado_compra] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](20) NOT NULL,
 CONSTRAINT [pk_estados_compras] PRIMARY KEY CLUSTERED 
(
	[id_estado_compra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados_promociones]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados_promociones](
	[id_estado_promocion] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](20) NOT NULL,
 CONSTRAINT [pk_estados_promociones] PRIMARY KEY CLUSTERED 
(
	[id_estado_promocion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados_reservas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados_reservas](
	[id_estado_reserva] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](20) NOT NULL,
 CONSTRAINT [pk_estados_reservas] PRIMARY KEY CLUSTERED 
(
	[id_estado_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas](
	[nro_factura] [int] NOT NULL,
	[id_condicion_IVA] [int] NULL,
	[fecha] [datetime] NOT NULL,
	[cod_cliente] [int] NOT NULL,
	[id_cajero] [int] NOT NULL,
	[id_sucursal] [int] NOT NULL,
	[id_financiera] [int] NOT NULL,
	[id_estado_compra] [int] NOT NULL,
	[id_canal_venta] [int] NOT NULL,
 CONSTRAINT [pk_factura] PRIMARY KEY CLUSTERED 
(
	[nro_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturas_formas_pagos]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas_formas_pagos](
	[id_factura_forma_pago] [int] IDENTITY(1,1) NOT NULL,
	[nro_factura] [int] NOT NULL,
	[id_forma_pago] [int] NOT NULL,
 CONSTRAINT [pk_facturas_formas_pagos] PRIMARY KEY CLUSTERED 
(
	[id_factura_forma_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[financieras]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[financieras](
	[id_financiera] [int] IDENTITY(1,1) NOT NULL,
	[financiera] [varchar](20) NOT NULL,
 CONSTRAINT [pk_financieras] PRIMARY KEY CLUSTERED 
(
	[id_financiera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formas_pagos]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formas_pagos](
	[id_forma_pago] [int] IDENTITY(1,1) NOT NULL,
	[forma_pago] [varchar](50) NOT NULL,
 CONSTRAINT [pk_forma_pago] PRIMARY KEY CLUSTERED 
(
	[id_forma_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formatos_peliculas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formatos_peliculas](
	[id_formato_pelicula] [int] IDENTITY(1,1) NOT NULL,
	[formato] [varchar](50) NOT NULL,
 CONSTRAINT [pk_formatos_peliculas] PRIMARY KEY CLUSTERED 
(
	[id_formato_pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[funciones]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funciones](
	[id_funcion] [int] IDENTITY(1,1) NOT NULL,
	[id_pelicula] [int] NOT NULL,
	[id_sala] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[id_horario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_funcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[generos]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[generos](
	[id_genero] [int] IDENTITY(1,1) NOT NULL,
	[genero] [varchar](50) NOT NULL,
 CONSTRAINT [pk_generos] PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[horarios]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[horarios](
	[id_horario] [int] IDENTITY(1,1) NOT NULL,
	[horario] [time](7) NOT NULL,
 CONSTRAINT [pk_horarios] PRIMARY KEY CLUSTERED 
(
	[id_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idiomas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idiomas](
	[id_idioma] [int] IDENTITY(1,1) NOT NULL,
	[idioma] [varchar](50) NOT NULL,
 CONSTRAINT [pk_idioma] PRIMARY KEY CLUSTERED 
(
	[id_idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[marcas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marcas](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[marca] [varchar](50) NOT NULL,
 CONSTRAINT [pk_marcas] PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paises]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paises](
	[id_pais] [int] IDENTITY(1,1) NOT NULL,
	[pais] [varchar](20) NOT NULL,
 CONSTRAINT [pk_pais] PRIMARY KEY CLUSTERED 
(
	[id_pais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peliculas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peliculas](
	[id_pelicula] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[descripcion] [varchar](2000) NULL,
	[fecha_lanzamiento] [date] NOT NULL,
	[id_pais] [int] NULL,
	[id_formato_pelicula] [int] NULL,
	[id_clasificacion] [int] NULL,
	[id_distribuidor] [int] NULL,
	[id_director] [int] NULL,
 CONSTRAINT [pk_pelicula] PRIMARY KEY CLUSTERED 
(
	[id_pelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peliculas_actores]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peliculas_actores](
	[id_pelicula_actor] [int] IDENTITY(1,1) NOT NULL,
	[id_pelicula] [int] NOT NULL,
	[id_actor] [int] NULL,
 CONSTRAINT [pk_peliculas_actores] PRIMARY KEY CLUSTERED 
(
	[id_pelicula_actor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peliculas_generos]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peliculas_generos](
	[id_pelicula_genero] [int] IDENTITY(1,1) NOT NULL,
	[id_pelicula] [int] NOT NULL,
	[id_genero] [int] NULL,
 CONSTRAINT [pk_peliculas_generos] PRIMARY KEY CLUSTERED 
(
	[id_pelicula_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peliculas_idiomas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peliculas_idiomas](
	[id_pelicula_idioma] [int] IDENTITY(1,1) NOT NULL,
	[id_pelicula] [int] NOT NULL,
	[id_idioma] [int] NULL,
 CONSTRAINT [pk_peliculas_idiomas] PRIMARY KEY CLUSTERED 
(
	[id_pelicula_idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[preferencias_clientes]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[preferencias_clientes](
	[id_preferencia_cliente] [int] IDENTITY(1,1) NOT NULL,
	[cod_cliente] [int] NOT NULL,
	[id_genero] [int] NOT NULL,
	[suscribe_newsletter] [bit] NULL,
 CONSTRAINT [pk_preferencia_cliente] PRIMARY KEY CLUSTERED 
(
	[id_preferencia_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos_combos]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos_combos](
	[id_producto_combo] [int] IDENTITY(1,1) NOT NULL,
	[id_producto_shop] [int] NOT NULL,
	[id_combo] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
 CONSTRAINT [pk_productos_combos] PRIMARY KEY CLUSTERED 
(
	[id_producto_combo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[productos_shop]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[productos_shop](
	[id_producto_shop] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[stock] [int] NOT NULL,
	[id_marca] [int] NOT NULL,
	[id_tipo_producto] [int] NOT NULL,
 CONSTRAINT [pk_productos_shop] PRIMARY KEY CLUSTERED 
(
	[id_producto_shop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promociones]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promociones](
	[id_promocion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](500) NULL,
	[id_tipo_promocion] [int] NOT NULL,
	[id_estado_promocion] [int] NOT NULL,
	[id_dia_promocion] [int] NOT NULL,
	[id_financiera] [int] NOT NULL,
	[id_canal_venta] [int] NOT NULL,
	[cod_cliente] [int] NULL,
 CONSTRAINT [pk_promociones] PRIMARY KEY CLUSTERED 
(
	[id_promocion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promociones_funciones]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promociones_funciones](
	[id_promocion_funcion] [int] IDENTITY(1,1) NOT NULL,
	[id_promocion] [int] NOT NULL,
	[id_funcion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_promocion_funcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promociones_horarios]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promociones_horarios](
	[id_promocion_horario] [int] IDENTITY(1,1) NOT NULL,
	[id_promocion] [int] NOT NULL,
	[id_horario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_promocion_horario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provincias]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provincias](
	[id_provincia] [int] IDENTITY(1,1) NOT NULL,
	[provincia] [varchar](20) NOT NULL,
	[id_pais] [int] NULL,
 CONSTRAINT [pk_provincia] PRIMARY KEY CLUSTERED 
(
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[puntuaciones]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[puntuaciones](
	[id_puntuacion] [int] IDENTITY(1,1) NOT NULL,
	[puntuacion] [int] NOT NULL,
 CONSTRAINT [pk_puntuacion] PRIMARY KEY CLUSTERED 
(
	[id_puntuacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[resenias_peliculas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[resenias_peliculas](
	[id_resenia] [int] IDENTITY(1,1) NOT NULL,
	[comentario] [varchar](1000) NOT NULL,
	[fecha_resenia] [datetime] NOT NULL,
	[id_pelicula] [int] NOT NULL,
	[id_puntuacion] [int] NOT NULL,
	[cod_cliente] [int] NOT NULL,
 CONSTRAINT [pk_resenias] PRIMARY KEY CLUSTERED 
(
	[id_resenia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reserva_detalle]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reserva_detalle](
	[id_reserva_detalle] [int] IDENTITY(1,1) NOT NULL,
	[id_reserva] [int] NOT NULL,
	[id_funcion] [int] NOT NULL,
	[id_butaca] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reserva_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reservas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reservas](
	[id_reserva] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NULL,
	[cod_cliente] [int] NOT NULL,
	[id_estado_reserva] [int] NOT NULL,
	[monto_reserva] [decimal](10, 2) NOT NULL,
	[fecha_expiracion] [datetime] NULL,
 CONSTRAINT [pk_reservas] PRIMARY KEY CLUSTERED 
(
	[id_reserva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[salas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[salas](
	[id_sala] [int] IDENTITY(1,1) NOT NULL,
	[nro_sala] [int] NULL,
	[id_tipo_sala] [int] NULL,
	[id_sucursal] [int] NULL,
 CONSTRAINT [pk_salas] PRIMARY KEY CLUSTERED 
(
	[id_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sucursales]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sucursales](
	[id_sucursal] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[id_direccion] [int] NULL,
 CONSTRAINT [pk_sucursales] PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_butacas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_butacas](
	[id_tipo_butacas] [int] IDENTITY(1,1) NOT NULL,
	[tipo_butaca] [varchar](50) NOT NULL,
 CONSTRAINT [pk_tipos_butacas] PRIMARY KEY CLUSTERED 
(
	[id_tipo_butacas] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_combos]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_combos](
	[id_tipo_combo] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](20) NOT NULL,
 CONSTRAINT [pk_tipos_combos] PRIMARY KEY CLUSTERED 
(
	[id_tipo_combo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_contactos]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_contactos](
	[id_tipo_contacto] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
 CONSTRAINT [pk_tipo_contacto] PRIMARY KEY CLUSTERED 
(
	[id_tipo_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_documentos]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_documentos](
	[id_tipo_doc] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
 CONSTRAINT [pk_tipo_doc] PRIMARY KEY CLUSTERED 
(
	[id_tipo_doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_productos]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_productos](
	[id_tipo_producto] [int] IDENTITY(1,1) NOT NULL,
	[tipo_producto] [varchar](20) NOT NULL,
 CONSTRAINT [pk_tipos_productos] PRIMARY KEY CLUSTERED 
(
	[id_tipo_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_promociones]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_promociones](
	[id_tipo_promocion] [int] IDENTITY(1,1) NOT NULL,
	[tipo_promocion] [varchar](20) NOT NULL,
 CONSTRAINT [pk_tipos_promociones] PRIMARY KEY CLUSTERED 
(
	[id_tipo_promocion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_salas]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_salas](
	[id_tipo_sala] [int] IDENTITY(1,1) NOT NULL,
	[tipo_sala] [varchar](50) NOT NULL,
 CONSTRAINT [pk_tipos_salas] PRIMARY KEY CLUSTERED 
(
	[id_tipo_sala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turnos]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turnos](
	[id_turno] [int] IDENTITY(1,1) NOT NULL,
	[turno] [varchar](20) NOT NULL,
 CONSTRAINT [pk_turnos] PRIMARY KEY CLUSTERED 
(
	[id_turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[butacas] ON 

INSERT [dbo].[butacas] ([id_butaca], [id_tipo_butacas], [id_estado_butaca], [id_sala], [fila], [numero]) VALUES (1, 1, 1, 1, N'A', 1)
INSERT [dbo].[butacas] ([id_butaca], [id_tipo_butacas], [id_estado_butaca], [id_sala], [fila], [numero]) VALUES (2, 1, 1, 1, N'A', 2)
SET IDENTITY_INSERT [dbo].[butacas] OFF
GO
SET IDENTITY_INSERT [dbo].[cajeros] ON 

INSERT [dbo].[cajeros] ([id_cajero], [nombre], [apellido], [id_turno], [id_sucursal]) VALUES (1, N'Cajero', N'Prueba', 1, NULL)
SET IDENTITY_INSERT [dbo].[cajeros] OFF
GO
SET IDENTITY_INSERT [dbo].[canales_ventas] ON 

INSERT [dbo].[canales_ventas] ([id_canal_venta], [canal_venta]) VALUES (1, N'Boletería')
SET IDENTITY_INSERT [dbo].[canales_ventas] OFF
GO
SET IDENTITY_INSERT [dbo].[clasificaciones] ON 

INSERT [dbo].[clasificaciones] ([id_clasificacion], [clasificacion]) VALUES (1, N'ATP')
SET IDENTITY_INSERT [dbo].[clasificaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[clientes] ON 

INSERT [dbo].[clientes] ([cod_cliente], [nombre], [apellido], [nro_doc], [id_tipo_doc], [fecha_nacimiento], [fecha_registro], [id_direccion], [password_hash], [es_admin]) VALUES (1, N'Admin', N'Cine', N'admin', 1, NULL, CAST(N'2025-11-05T20:27:10.137' AS DateTime), NULL, N'$2a$11$UCK3qQdQ54NO8zx/cb1HVubFQ.8RZ3kQGrWeCPcy2UOKNVUW0xRnm', 1)
INSERT [dbo].[clientes] ([cod_cliente], [nombre], [apellido], [nro_doc], [id_tipo_doc], [fecha_nacimiento], [fecha_registro], [id_direccion], [password_hash], [es_admin]) VALUES (2, N'Juan', N'Pérez', N'40111222', 1, NULL, CAST(N'2025-10-23T00:00:00.000' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[clientes] ([cod_cliente], [nombre], [apellido], [nro_doc], [id_tipo_doc], [fecha_nacimiento], [fecha_registro], [id_direccion], [password_hash], [es_admin]) VALUES (3, N'Ana', N'Gómez', N'37222333', 1, NULL, CAST(N'2025-10-08T00:00:00.000' AS DateTime), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[condiciones_IVA] ON 

INSERT [dbo].[condiciones_IVA] ([id_condicion_IVA], [condicion]) VALUES (1, N'Consumidor Final')
SET IDENTITY_INSERT [dbo].[condiciones_IVA] OFF
GO
SET IDENTITY_INSERT [dbo].[detalle_facturas] ON 

INSERT [dbo].[detalle_facturas] ([id_detalle_factura], [nro_factura], [nro_entrada], [id_producto_shop], [id_promocion], [cantidad], [precio_unitario]) VALUES (1, 1001, 1, NULL, NULL, 1, CAST(2500.00 AS Decimal(10, 2)))
INSERT [dbo].[detalle_facturas] ([id_detalle_factura], [nro_factura], [nro_entrada], [id_producto_shop], [id_promocion], [cantidad], [precio_unitario]) VALUES (2, 1002, 3, NULL, NULL, 1, CAST(3000.00 AS Decimal(10, 2)))
INSERT [dbo].[detalle_facturas] ([id_detalle_factura], [nro_factura], [nro_entrada], [id_producto_shop], [id_promocion], [cantidad], [precio_unitario]) VALUES (3, 1002, 2, NULL, NULL, 1, CAST(3000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[detalle_facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[directores] ON 

INSERT [dbo].[directores] ([id_director], [nombre], [apellido], [fecha_nacimiento], [bio]) VALUES (1, N'Greta', N'Gerwig', NULL, NULL)
INSERT [dbo].[directores] ([id_director], [nombre], [apellido], [fecha_nacimiento], [bio]) VALUES (2, N'Denis', N'Villeneuve', NULL, NULL)
INSERT [dbo].[directores] ([id_director], [nombre], [apellido], [fecha_nacimiento], [bio]) VALUES (3, N'Christopher', N'Nolan', NULL, NULL)
SET IDENTITY_INSERT [dbo].[directores] OFF
GO
SET IDENTITY_INSERT [dbo].[entradas] ON 

INSERT [dbo].[entradas] ([nro_entrada], [id_funcion], [id_butaca], [precio], [precio_unitario]) VALUES (1, 1, 1, CAST(2500.00 AS Decimal(10, 2)), CAST(2500.00 AS Decimal(10, 2)))
INSERT [dbo].[entradas] ([nro_entrada], [id_funcion], [id_butaca], [precio], [precio_unitario]) VALUES (2, 3, 1, CAST(3000.00 AS Decimal(10, 2)), CAST(3000.00 AS Decimal(10, 2)))
INSERT [dbo].[entradas] ([nro_entrada], [id_funcion], [id_butaca], [precio], [precio_unitario]) VALUES (3, 3, 2, CAST(3000.00 AS Decimal(10, 2)), CAST(3000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[entradas] OFF
GO
SET IDENTITY_INSERT [dbo].[estados_butacas] ON 

INSERT [dbo].[estados_butacas] ([id_estado_butaca], [estado_butaca]) VALUES (1, N'Disponible')
SET IDENTITY_INSERT [dbo].[estados_butacas] OFF
GO
SET IDENTITY_INSERT [dbo].[estados_compras] ON 

INSERT [dbo].[estados_compras] ([id_estado_compra], [estado]) VALUES (1, N'Aprobada')
SET IDENTITY_INSERT [dbo].[estados_compras] OFF
GO
SET IDENTITY_INSERT [dbo].[estados_reservas] ON 

INSERT [dbo].[estados_reservas] ([id_estado_reserva], [estado]) VALUES (1, N'Activa')
INSERT [dbo].[estados_reservas] ([id_estado_reserva], [estado]) VALUES (2, N'Cancelada')
SET IDENTITY_INSERT [dbo].[estados_reservas] OFF
GO
INSERT [dbo].[facturas] ([nro_factura], [id_condicion_IVA], [fecha], [cod_cliente], [id_cajero], [id_sucursal], [id_financiera], [id_estado_compra], [id_canal_venta]) VALUES (1001, 1, CAST(N'2025-11-05T20:27:10.143' AS DateTime), 1, 1, 1, 1, 1, 1)
INSERT [dbo].[facturas] ([nro_factura], [id_condicion_IVA], [fecha], [cod_cliente], [id_cajero], [id_sucursal], [id_financiera], [id_estado_compra], [id_canal_venta]) VALUES (1002, 1, CAST(N'2025-11-06T00:00:00.000' AS DateTime), 2, 1, 1, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[financieras] ON 

INSERT [dbo].[financieras] ([id_financiera], [financiera]) VALUES (1, N'Efectivo')
SET IDENTITY_INSERT [dbo].[financieras] OFF
GO
SET IDENTITY_INSERT [dbo].[formatos_peliculas] ON 

INSERT [dbo].[formatos_peliculas] ([id_formato_pelicula], [formato]) VALUES (1, N'2D')
INSERT [dbo].[formatos_peliculas] ([id_formato_pelicula], [formato]) VALUES (2, N'3D')
INSERT [dbo].[formatos_peliculas] ([id_formato_pelicula], [formato]) VALUES (3, N'IMAX')
SET IDENTITY_INSERT [dbo].[formatos_peliculas] OFF
GO
SET IDENTITY_INSERT [dbo].[funciones] ON 

INSERT [dbo].[funciones] ([id_funcion], [id_pelicula], [id_sala], [fecha], [id_horario]) VALUES (1, 1, 1, CAST(N'2025-11-05' AS Date), 1)
INSERT [dbo].[funciones] ([id_funcion], [id_pelicula], [id_sala], [fecha], [id_horario]) VALUES (3, 4, 1, CAST(N'2025-11-04' AS Date), 1)
INSERT [dbo].[funciones] ([id_funcion], [id_pelicula], [id_sala], [fecha], [id_horario]) VALUES (4, 4, 1, CAST(N'2025-11-05' AS Date), 2)
SET IDENTITY_INSERT [dbo].[funciones] OFF
GO
SET IDENTITY_INSERT [dbo].[generos] ON 

INSERT [dbo].[generos] ([id_genero], [genero]) VALUES (1, N'terror')
INSERT [dbo].[generos] ([id_genero], [genero]) VALUES (2, N'accion')
INSERT [dbo].[generos] ([id_genero], [genero]) VALUES (3, N'infantil')
SET IDENTITY_INSERT [dbo].[generos] OFF
GO
SET IDENTITY_INSERT [dbo].[horarios] ON 

INSERT [dbo].[horarios] ([id_horario], [horario]) VALUES (1, CAST(N'18:00:00' AS Time))
INSERT [dbo].[horarios] ([id_horario], [horario]) VALUES (2, CAST(N'20:00:00' AS Time))
INSERT [dbo].[horarios] ([id_horario], [horario]) VALUES (3, CAST(N'22:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[horarios] OFF
GO
SET IDENTITY_INSERT [dbo].[peliculas] ON 

INSERT [dbo].[peliculas] ([id_pelicula], [titulo], [descripcion], [fecha_lanzamiento], [id_pais], [id_formato_pelicula], [id_clasificacion], [id_distribuidor], [id_director]) VALUES (1, N'Barbie 2', N'Película de Barbie', CAST(N'2025-07-20' AS Date), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[peliculas] ([id_pelicula], [titulo], [descripcion], [fecha_lanzamiento], [id_pais], [id_formato_pelicula], [id_clasificacion], [id_distribuidor], [id_director]) VALUES (3, N'El Conjuro', N'terror', CAST(N'2025-11-06' AS Date), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[peliculas] ([id_pelicula], [titulo], [descripcion], [fecha_lanzamiento], [id_pais], [id_formato_pelicula], [id_clasificacion], [id_distribuidor], [id_director]) VALUES (4, N'Duna: Parte Dos', N'Sci-Fi épica de Arrakis', CAST(N'2024-03-01' AS Date), NULL, NULL, 1, NULL, 2)
SET IDENTITY_INSERT [dbo].[peliculas] OFF
GO
SET IDENTITY_INSERT [dbo].[peliculas_generos] ON 

INSERT [dbo].[peliculas_generos] ([id_pelicula_genero], [id_pelicula], [id_genero]) VALUES (1, 4, 7)
INSERT [dbo].[peliculas_generos] ([id_pelicula_genero], [id_pelicula], [id_genero]) VALUES (2, 4, 6)
INSERT [dbo].[peliculas_generos] ([id_pelicula_genero], [id_pelicula], [id_genero]) VALUES (3, 5, 6)
SET IDENTITY_INSERT [dbo].[peliculas_generos] OFF
GO
SET IDENTITY_INSERT [dbo].[reservas] ON 

INSERT [dbo].[reservas] ([id_reserva], [fecha], [cod_cliente], [id_estado_reserva], [monto_reserva], [fecha_expiracion]) VALUES (1, CAST(N'2025-11-05' AS Date), 1, 1, CAST(1500.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[reservas] ([id_reserva], [fecha], [cod_cliente], [id_estado_reserva], [monto_reserva], [fecha_expiracion]) VALUES (2, CAST(N'2025-11-05' AS Date), 1, 1, CAST(2000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[reservas] ([id_reserva], [fecha], [cod_cliente], [id_estado_reserva], [monto_reserva], [fecha_expiracion]) VALUES (3, CAST(N'2025-11-05' AS Date), 1, 2, CAST(1000.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[reservas] OFF
GO
SET IDENTITY_INSERT [dbo].[salas] ON 

INSERT [dbo].[salas] ([id_sala], [nro_sala], [id_tipo_sala], [id_sucursal]) VALUES (1, 101, 1, 1)
INSERT [dbo].[salas] ([id_sala], [nro_sala], [id_tipo_sala], [id_sucursal]) VALUES (2, 102, 1, 1)
SET IDENTITY_INSERT [dbo].[salas] OFF
GO
SET IDENTITY_INSERT [dbo].[sucursales] ON 

INSERT [dbo].[sucursales] ([id_sucursal], [nombre], [id_direccion]) VALUES (1, N'Sucursal Centro', NULL)
SET IDENTITY_INSERT [dbo].[sucursales] OFF
GO
SET IDENTITY_INSERT [dbo].[tipos_butacas] ON 

INSERT [dbo].[tipos_butacas] ([id_tipo_butacas], [tipo_butaca]) VALUES (1, N'Estándar')
SET IDENTITY_INSERT [dbo].[tipos_butacas] OFF
GO
SET IDENTITY_INSERT [dbo].[tipos_documentos] ON 

INSERT [dbo].[tipos_documentos] ([id_tipo_doc], [tipo]) VALUES (1, N'DNI')
SET IDENTITY_INSERT [dbo].[tipos_documentos] OFF
GO
SET IDENTITY_INSERT [dbo].[tipos_salas] ON 

INSERT [dbo].[tipos_salas] ([id_tipo_sala], [tipo_sala]) VALUES (1, N'Estándar')
INSERT [dbo].[tipos_salas] ([id_tipo_sala], [tipo_sala]) VALUES (2, N'3D')
INSERT [dbo].[tipos_salas] ([id_tipo_sala], [tipo_sala]) VALUES (3, N'VIP')
SET IDENTITY_INSERT [dbo].[tipos_salas] OFF
GO
SET IDENTITY_INSERT [dbo].[turnos] ON 

INSERT [dbo].[turnos] ([id_turno], [turno]) VALUES (1, N'Tarde')
SET IDENTITY_INSERT [dbo].[turnos] OFF
GO
/****** Object:  Index [uq_reserva_detalle_funcion_butaca]    Script Date: 14/11/2025 10:13:21 ******/
ALTER TABLE [dbo].[reserva_detalle] ADD  CONSTRAINT [uq_reserva_detalle_funcion_butaca] UNIQUE NONCLUSTERED 
(
	[id_funcion] ASC,
	[id_butaca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[clientes] ADD  DEFAULT ((0)) FOR [es_admin]
GO
ALTER TABLE [dbo].[detalle_facturas] ADD  DEFAULT ((1)) FOR [cantidad]
GO
ALTER TABLE [dbo].[detalle_facturas] ADD  DEFAULT ((0)) FOR [precio_unitario]
GO
ALTER TABLE [dbo].[entradas] ADD  DEFAULT ((0)) FOR [precio_unitario]
GO
ALTER TABLE [dbo].[preferencias_clientes] ADD  DEFAULT ((0)) FOR [suscribe_newsletter]
GO
ALTER TABLE [dbo].[productos_combos] ADD  DEFAULT ((0)) FOR [precio_unitario]
GO
ALTER TABLE [dbo].[barrios]  WITH CHECK ADD  CONSTRAINT [fk_ciudad_barrio] FOREIGN KEY([id_ciudad])
REFERENCES [dbo].[ciudades] ([id_ciudad])
GO
ALTER TABLE [dbo].[barrios] CHECK CONSTRAINT [fk_ciudad_barrio]
GO
ALTER TABLE [dbo].[butacas]  WITH CHECK ADD  CONSTRAINT [fk_butacas_salas] FOREIGN KEY([id_sala])
REFERENCES [dbo].[salas] ([id_sala])
GO
ALTER TABLE [dbo].[butacas] CHECK CONSTRAINT [fk_butacas_salas]
GO
ALTER TABLE [dbo].[butacas]  WITH CHECK ADD  CONSTRAINT [fk_butacas_tipos_butacas] FOREIGN KEY([id_tipo_butacas])
REFERENCES [dbo].[tipos_butacas] ([id_tipo_butacas])
GO
ALTER TABLE [dbo].[butacas] CHECK CONSTRAINT [fk_butacas_tipos_butacas]
GO
ALTER TABLE [dbo].[butacas]  WITH CHECK ADD  CONSTRAINT [fk_butacas_tipos_estados_butacas] FOREIGN KEY([id_estado_butaca])
REFERENCES [dbo].[estados_butacas] ([id_estado_butaca])
GO
ALTER TABLE [dbo].[butacas] CHECK CONSTRAINT [fk_butacas_tipos_estados_butacas]
GO
ALTER TABLE [dbo].[cajeros]  WITH CHECK ADD  CONSTRAINT [fk_cajeros_sucursales] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[sucursales] ([id_sucursal])
GO
ALTER TABLE [dbo].[cajeros] CHECK CONSTRAINT [fk_cajeros_sucursales]
GO
ALTER TABLE [dbo].[cajeros]  WITH CHECK ADD  CONSTRAINT [fk_cajeros_turnos] FOREIGN KEY([id_turno])
REFERENCES [dbo].[turnos] ([id_turno])
GO
ALTER TABLE [dbo].[cajeros] CHECK CONSTRAINT [fk_cajeros_turnos]
GO
ALTER TABLE [dbo].[ciudades]  WITH CHECK ADD  CONSTRAINT [fk_ciudad_provincia] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[provincias] ([id_provincia])
GO
ALTER TABLE [dbo].[ciudades] CHECK CONSTRAINT [fk_ciudad_provincia]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [fk_cliente_tipos_doc] FOREIGN KEY([id_tipo_doc])
REFERENCES [dbo].[tipos_documentos] ([id_tipo_doc])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [fk_cliente_tipos_doc]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [fk_clientes_direcciones] FOREIGN KEY([id_direccion])
REFERENCES [dbo].[direcciones] ([id_direccion])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [fk_clientes_direcciones]
GO
ALTER TABLE [dbo].[clientes_contactos]  WITH CHECK ADD  CONSTRAINT [fk_clientes_contactos_clientes] FOREIGN KEY([cod_cliente])
REFERENCES [dbo].[clientes] ([cod_cliente])
GO
ALTER TABLE [dbo].[clientes_contactos] CHECK CONSTRAINT [fk_clientes_contactos_clientes]
GO
ALTER TABLE [dbo].[clientes_contactos]  WITH CHECK ADD  CONSTRAINT [fk_clientes_contactos_contactos] FOREIGN KEY([id_contacto])
REFERENCES [dbo].[contactos] ([id_contacto])
GO
ALTER TABLE [dbo].[clientes_contactos] CHECK CONSTRAINT [fk_clientes_contactos_contactos]
GO
ALTER TABLE [dbo].[combos]  WITH CHECK ADD  CONSTRAINT [fk_combos_tipos_combos] FOREIGN KEY([id_tipo_combo])
REFERENCES [dbo].[tipos_combos] ([id_tipo_combo])
GO
ALTER TABLE [dbo].[combos] CHECK CONSTRAINT [fk_combos_tipos_combos]
GO
ALTER TABLE [dbo].[contactos]  WITH CHECK ADD  CONSTRAINT [fk_contactos_tipos] FOREIGN KEY([id_tipo_contacto])
REFERENCES [dbo].[tipos_contactos] ([id_tipo_contacto])
GO
ALTER TABLE [dbo].[contactos] CHECK CONSTRAINT [fk_contactos_tipos]
GO
ALTER TABLE [dbo].[detalle_facturas]  WITH CHECK ADD FOREIGN KEY([id_producto_shop])
REFERENCES [dbo].[productos_shop] ([id_producto_shop])
GO
ALTER TABLE [dbo].[detalle_facturas]  WITH CHECK ADD FOREIGN KEY([id_promocion])
REFERENCES [dbo].[promociones] ([id_promocion])
GO
ALTER TABLE [dbo].[detalle_facturas]  WITH CHECK ADD FOREIGN KEY([nro_entrada])
REFERENCES [dbo].[entradas] ([nro_entrada])
GO
ALTER TABLE [dbo].[detalle_facturas]  WITH CHECK ADD FOREIGN KEY([nro_factura])
REFERENCES [dbo].[facturas] ([nro_factura])
GO
ALTER TABLE [dbo].[direcciones]  WITH CHECK ADD  CONSTRAINT [fk_direcciones_barrios] FOREIGN KEY([id_barrio])
REFERENCES [dbo].[barrios] ([id_barrio])
GO
ALTER TABLE [dbo].[direcciones] CHECK CONSTRAINT [fk_direcciones_barrios]
GO
ALTER TABLE [dbo].[entradas]  WITH CHECK ADD  CONSTRAINT [fk_entradas_butaca] FOREIGN KEY([id_butaca])
REFERENCES [dbo].[butacas] ([id_butaca])
GO
ALTER TABLE [dbo].[entradas] CHECK CONSTRAINT [fk_entradas_butaca]
GO
ALTER TABLE [dbo].[entradas]  WITH CHECK ADD  CONSTRAINT [fk_entradas_funcion] FOREIGN KEY([id_funcion])
REFERENCES [dbo].[funciones] ([id_funcion])
GO
ALTER TABLE [dbo].[entradas] CHECK CONSTRAINT [fk_entradas_funcion]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [fk_facturas_cajeros] FOREIGN KEY([id_cajero])
REFERENCES [dbo].[cajeros] ([id_cajero])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [fk_facturas_cajeros]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [fk_facturas_canales_ventas] FOREIGN KEY([id_canal_venta])
REFERENCES [dbo].[canales_ventas] ([id_canal_venta])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [fk_facturas_canales_ventas]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [fk_facturas_clientes] FOREIGN KEY([cod_cliente])
REFERENCES [dbo].[clientes] ([cod_cliente])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [fk_facturas_clientes]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [fk_facturas_condiciones_IVA] FOREIGN KEY([id_condicion_IVA])
REFERENCES [dbo].[condiciones_IVA] ([id_condicion_IVA])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [fk_facturas_condiciones_IVA]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [fk_facturas_estados_compras] FOREIGN KEY([id_estado_compra])
REFERENCES [dbo].[estados_compras] ([id_estado_compra])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [fk_facturas_estados_compras]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [fk_facturas_financieras] FOREIGN KEY([id_financiera])
REFERENCES [dbo].[financieras] ([id_financiera])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [fk_facturas_financieras]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [fk_facturas_sucursales] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[sucursales] ([id_sucursal])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [fk_facturas_sucursales]
GO
ALTER TABLE [dbo].[facturas_formas_pagos]  WITH CHECK ADD  CONSTRAINT [fk_facturas_formas_pagos_facturas] FOREIGN KEY([nro_factura])
REFERENCES [dbo].[facturas] ([nro_factura])
GO
ALTER TABLE [dbo].[facturas_formas_pagos] CHECK CONSTRAINT [fk_facturas_formas_pagos_facturas]
GO
ALTER TABLE [dbo].[facturas_formas_pagos]  WITH CHECK ADD  CONSTRAINT [fk_facturas_formas_pagos_formas_pagos] FOREIGN KEY([id_forma_pago])
REFERENCES [dbo].[formas_pagos] ([id_forma_pago])
GO
ALTER TABLE [dbo].[facturas_formas_pagos] CHECK CONSTRAINT [fk_facturas_formas_pagos_formas_pagos]
GO
ALTER TABLE [dbo].[funciones]  WITH CHECK ADD  CONSTRAINT [fk_funciones_horario] FOREIGN KEY([id_horario])
REFERENCES [dbo].[horarios] ([id_horario])
GO
ALTER TABLE [dbo].[funciones] CHECK CONSTRAINT [fk_funciones_horario]
GO
ALTER TABLE [dbo].[funciones]  WITH CHECK ADD  CONSTRAINT [FK_Funciones_Peliculas] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[peliculas] ([id_pelicula])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[funciones] CHECK CONSTRAINT [FK_Funciones_Peliculas]
GO
ALTER TABLE [dbo].[funciones]  WITH CHECK ADD  CONSTRAINT [fk_funciones_sala] FOREIGN KEY([id_sala])
REFERENCES [dbo].[salas] ([id_sala])
GO
ALTER TABLE [dbo].[funciones] CHECK CONSTRAINT [fk_funciones_sala]
GO
ALTER TABLE [dbo].[peliculas]  WITH CHECK ADD  CONSTRAINT [fk_peliculas_clasificaciones] FOREIGN KEY([id_clasificacion])
REFERENCES [dbo].[clasificaciones] ([id_clasificacion])
GO
ALTER TABLE [dbo].[peliculas] CHECK CONSTRAINT [fk_peliculas_clasificaciones]
GO
ALTER TABLE [dbo].[peliculas]  WITH CHECK ADD  CONSTRAINT [fk_peliculas_director] FOREIGN KEY([id_director])
REFERENCES [dbo].[directores] ([id_director])
GO
ALTER TABLE [dbo].[peliculas] CHECK CONSTRAINT [fk_peliculas_director]
GO
ALTER TABLE [dbo].[peliculas]  WITH CHECK ADD  CONSTRAINT [fk_peliculas_distribuidores] FOREIGN KEY([id_distribuidor])
REFERENCES [dbo].[distribuidores] ([id_distribuidor])
GO
ALTER TABLE [dbo].[peliculas] CHECK CONSTRAINT [fk_peliculas_distribuidores]
GO
ALTER TABLE [dbo].[peliculas]  WITH CHECK ADD  CONSTRAINT [fk_peliculas_formatos_peliculas] FOREIGN KEY([id_formato_pelicula])
REFERENCES [dbo].[formatos_peliculas] ([id_formato_pelicula])
GO
ALTER TABLE [dbo].[peliculas] CHECK CONSTRAINT [fk_peliculas_formatos_peliculas]
GO
ALTER TABLE [dbo].[peliculas]  WITH CHECK ADD  CONSTRAINT [fk_peliculas_paises] FOREIGN KEY([id_pais])
REFERENCES [dbo].[paises] ([id_pais])
GO
ALTER TABLE [dbo].[peliculas] CHECK CONSTRAINT [fk_peliculas_paises]
GO
ALTER TABLE [dbo].[peliculas_actores]  WITH CHECK ADD  CONSTRAINT [fk_peliculas_actores] FOREIGN KEY([id_actor])
REFERENCES [dbo].[actores] ([id_actor])
GO
ALTER TABLE [dbo].[peliculas_actores] CHECK CONSTRAINT [fk_peliculas_actores]
GO
ALTER TABLE [dbo].[peliculas_actores]  WITH CHECK ADD  CONSTRAINT [fk_peliculas_actores_peliculas] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[peliculas_actores] CHECK CONSTRAINT [fk_peliculas_actores_peliculas]
GO
ALTER TABLE [dbo].[peliculas_generos]  WITH CHECK ADD  CONSTRAINT [fk_peliculas_generos_generos] FOREIGN KEY([id_genero])
REFERENCES [dbo].[generos] ([id_genero])
GO
ALTER TABLE [dbo].[peliculas_generos] CHECK CONSTRAINT [fk_peliculas_generos_generos]
GO
ALTER TABLE [dbo].[peliculas_generos]  WITH CHECK ADD  CONSTRAINT [fk_peliculas_generos_peliculas] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[peliculas_generos] CHECK CONSTRAINT [fk_peliculas_generos_peliculas]
GO
ALTER TABLE [dbo].[peliculas_idiomas]  WITH CHECK ADD  CONSTRAINT [fk_peliculas_idiomas_idiomas] FOREIGN KEY([id_idioma])
REFERENCES [dbo].[idiomas] ([id_idioma])
GO
ALTER TABLE [dbo].[peliculas_idiomas] CHECK CONSTRAINT [fk_peliculas_idiomas_idiomas]
GO
ALTER TABLE [dbo].[peliculas_idiomas]  WITH CHECK ADD  CONSTRAINT [fk_peliculas_idiomas_peliculas] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[peliculas_idiomas] CHECK CONSTRAINT [fk_peliculas_idiomas_peliculas]
GO
ALTER TABLE [dbo].[preferencias_clientes]  WITH CHECK ADD  CONSTRAINT [fk_preferencias_clientes_clientes] FOREIGN KEY([cod_cliente])
REFERENCES [dbo].[clientes] ([cod_cliente])
GO
ALTER TABLE [dbo].[preferencias_clientes] CHECK CONSTRAINT [fk_preferencias_clientes_clientes]
GO
ALTER TABLE [dbo].[preferencias_clientes]  WITH CHECK ADD  CONSTRAINT [fk_preferencias_clientes_generos] FOREIGN KEY([id_genero])
REFERENCES [dbo].[generos] ([id_genero])
GO
ALTER TABLE [dbo].[preferencias_clientes] CHECK CONSTRAINT [fk_preferencias_clientes_generos]
GO
ALTER TABLE [dbo].[productos_combos]  WITH CHECK ADD  CONSTRAINT [fk_productos_combos_combos] FOREIGN KEY([id_combo])
REFERENCES [dbo].[combos] ([id_combo])
GO
ALTER TABLE [dbo].[productos_combos] CHECK CONSTRAINT [fk_productos_combos_combos]
GO
ALTER TABLE [dbo].[productos_combos]  WITH CHECK ADD  CONSTRAINT [fk_productos_combos_productos] FOREIGN KEY([id_producto_shop])
REFERENCES [dbo].[productos_shop] ([id_producto_shop])
GO
ALTER TABLE [dbo].[productos_combos] CHECK CONSTRAINT [fk_productos_combos_productos]
GO
ALTER TABLE [dbo].[productos_shop]  WITH CHECK ADD  CONSTRAINT [fk_productos_shop_marcas] FOREIGN KEY([id_marca])
REFERENCES [dbo].[marcas] ([id_marca])
GO
ALTER TABLE [dbo].[productos_shop] CHECK CONSTRAINT [fk_productos_shop_marcas]
GO
ALTER TABLE [dbo].[productos_shop]  WITH CHECK ADD  CONSTRAINT [fk_productos_shop_tipos_productos] FOREIGN KEY([id_tipo_producto])
REFERENCES [dbo].[tipos_productos] ([id_tipo_producto])
GO
ALTER TABLE [dbo].[productos_shop] CHECK CONSTRAINT [fk_productos_shop_tipos_productos]
GO
ALTER TABLE [dbo].[promociones]  WITH CHECK ADD  CONSTRAINT [fk_promociones_canales_ventas] FOREIGN KEY([id_canal_venta])
REFERENCES [dbo].[canales_ventas] ([id_canal_venta])
GO
ALTER TABLE [dbo].[promociones] CHECK CONSTRAINT [fk_promociones_canales_ventas]
GO
ALTER TABLE [dbo].[promociones]  WITH CHECK ADD  CONSTRAINT [fk_promociones_clientes] FOREIGN KEY([cod_cliente])
REFERENCES [dbo].[clientes] ([cod_cliente])
GO
ALTER TABLE [dbo].[promociones] CHECK CONSTRAINT [fk_promociones_clientes]
GO
ALTER TABLE [dbo].[promociones]  WITH CHECK ADD  CONSTRAINT [fk_promociones_dias_promociones] FOREIGN KEY([id_dia_promocion])
REFERENCES [dbo].[dias_promociones] ([id_dia_promocion])
GO
ALTER TABLE [dbo].[promociones] CHECK CONSTRAINT [fk_promociones_dias_promociones]
GO
ALTER TABLE [dbo].[promociones]  WITH CHECK ADD  CONSTRAINT [fk_promociones_estados_promociones] FOREIGN KEY([id_estado_promocion])
REFERENCES [dbo].[estados_promociones] ([id_estado_promocion])
GO
ALTER TABLE [dbo].[promociones] CHECK CONSTRAINT [fk_promociones_estados_promociones]
GO
ALTER TABLE [dbo].[promociones]  WITH CHECK ADD  CONSTRAINT [fk_promociones_financieras] FOREIGN KEY([id_financiera])
REFERENCES [dbo].[financieras] ([id_financiera])
GO
ALTER TABLE [dbo].[promociones] CHECK CONSTRAINT [fk_promociones_financieras]
GO
ALTER TABLE [dbo].[promociones]  WITH CHECK ADD  CONSTRAINT [fk_promociones_tipos_promociones] FOREIGN KEY([id_tipo_promocion])
REFERENCES [dbo].[tipos_promociones] ([id_tipo_promocion])
GO
ALTER TABLE [dbo].[promociones] CHECK CONSTRAINT [fk_promociones_tipos_promociones]
GO
ALTER TABLE [dbo].[promociones_funciones]  WITH CHECK ADD  CONSTRAINT [fk_promociones_funciones_funciones] FOREIGN KEY([id_funcion])
REFERENCES [dbo].[funciones] ([id_funcion])
GO
ALTER TABLE [dbo].[promociones_funciones] CHECK CONSTRAINT [fk_promociones_funciones_funciones]
GO
ALTER TABLE [dbo].[promociones_funciones]  WITH CHECK ADD  CONSTRAINT [fk_promociones_funciones_promociones] FOREIGN KEY([id_promocion])
REFERENCES [dbo].[promociones] ([id_promocion])
GO
ALTER TABLE [dbo].[promociones_funciones] CHECK CONSTRAINT [fk_promociones_funciones_promociones]
GO
ALTER TABLE [dbo].[promociones_horarios]  WITH CHECK ADD  CONSTRAINT [fk_promociones_horarios_horarios] FOREIGN KEY([id_horario])
REFERENCES [dbo].[horarios] ([id_horario])
GO
ALTER TABLE [dbo].[promociones_horarios] CHECK CONSTRAINT [fk_promociones_horarios_horarios]
GO
ALTER TABLE [dbo].[promociones_horarios]  WITH CHECK ADD  CONSTRAINT [fk_promociones_horarios_promociones] FOREIGN KEY([id_promocion])
REFERENCES [dbo].[promociones] ([id_promocion])
GO
ALTER TABLE [dbo].[promociones_horarios] CHECK CONSTRAINT [fk_promociones_horarios_promociones]
GO
ALTER TABLE [dbo].[provincias]  WITH CHECK ADD  CONSTRAINT [fk_provincias_pais] FOREIGN KEY([id_pais])
REFERENCES [dbo].[paises] ([id_pais])
GO
ALTER TABLE [dbo].[provincias] CHECK CONSTRAINT [fk_provincias_pais]
GO
ALTER TABLE [dbo].[resenias_peliculas]  WITH CHECK ADD  CONSTRAINT [fk_resenias_clientes] FOREIGN KEY([cod_cliente])
REFERENCES [dbo].[clientes] ([cod_cliente])
GO
ALTER TABLE [dbo].[resenias_peliculas] CHECK CONSTRAINT [fk_resenias_clientes]
GO
ALTER TABLE [dbo].[resenias_peliculas]  WITH CHECK ADD  CONSTRAINT [fk_resenias_peliculas] FOREIGN KEY([id_pelicula])
REFERENCES [dbo].[peliculas] ([id_pelicula])
GO
ALTER TABLE [dbo].[resenias_peliculas] CHECK CONSTRAINT [fk_resenias_peliculas]
GO
ALTER TABLE [dbo].[resenias_peliculas]  WITH CHECK ADD  CONSTRAINT [fk_resenias_puntuaciones] FOREIGN KEY([id_puntuacion])
REFERENCES [dbo].[puntuaciones] ([id_puntuacion])
GO
ALTER TABLE [dbo].[resenias_peliculas] CHECK CONSTRAINT [fk_resenias_puntuaciones]
GO
ALTER TABLE [dbo].[reserva_detalle]  WITH CHECK ADD  CONSTRAINT [fk_reserva_detalle_butaca] FOREIGN KEY([id_butaca])
REFERENCES [dbo].[butacas] ([id_butaca])
GO
ALTER TABLE [dbo].[reserva_detalle] CHECK CONSTRAINT [fk_reserva_detalle_butaca]
GO
ALTER TABLE [dbo].[reserva_detalle]  WITH CHECK ADD  CONSTRAINT [fk_reserva_detalle_funcion] FOREIGN KEY([id_funcion])
REFERENCES [dbo].[funciones] ([id_funcion])
GO
ALTER TABLE [dbo].[reserva_detalle] CHECK CONSTRAINT [fk_reserva_detalle_funcion]
GO
ALTER TABLE [dbo].[reserva_detalle]  WITH CHECK ADD  CONSTRAINT [fk_reserva_detalle_reserva] FOREIGN KEY([id_reserva])
REFERENCES [dbo].[reservas] ([id_reserva])
GO
ALTER TABLE [dbo].[reserva_detalle] CHECK CONSTRAINT [fk_reserva_detalle_reserva]
GO
ALTER TABLE [dbo].[reservas]  WITH CHECK ADD  CONSTRAINT [fk_reservas_clientes] FOREIGN KEY([cod_cliente])
REFERENCES [dbo].[clientes] ([cod_cliente])
GO
ALTER TABLE [dbo].[reservas] CHECK CONSTRAINT [fk_reservas_clientes]
GO
ALTER TABLE [dbo].[reservas]  WITH CHECK ADD  CONSTRAINT [fk_reservas_estados_reservas] FOREIGN KEY([id_estado_reserva])
REFERENCES [dbo].[estados_reservas] ([id_estado_reserva])
GO
ALTER TABLE [dbo].[reservas] CHECK CONSTRAINT [fk_reservas_estados_reservas]
GO
ALTER TABLE [dbo].[salas]  WITH CHECK ADD  CONSTRAINT [fk_salas_sucursales] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[sucursales] ([id_sucursal])
GO
ALTER TABLE [dbo].[salas] CHECK CONSTRAINT [fk_salas_sucursales]
GO
ALTER TABLE [dbo].[salas]  WITH CHECK ADD  CONSTRAINT [fk_salas_tipos_salas] FOREIGN KEY([id_tipo_sala])
REFERENCES [dbo].[tipos_salas] ([id_tipo_sala])
GO
ALTER TABLE [dbo].[salas] CHECK CONSTRAINT [fk_salas_tipos_salas]
GO
ALTER TABLE [dbo].[sucursales]  WITH CHECK ADD  CONSTRAINT [fk_sucursales_direcciones] FOREIGN KEY([id_direccion])
REFERENCES [dbo].[direcciones] ([id_direccion])
GO
ALTER TABLE [dbo].[sucursales] CHECK CONSTRAINT [fk_sucursales_direcciones]
GO
/****** Object:  StoredProcedure [dbo].[pa_reservas_por_estado_mes_actual]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[pa_reservas_por_estado_mes_actual]
AS
BEGIN
    DECLARE @mesActual INT = MONTH(GETDATE());
    DECLARE @anioActual INT = YEAR(GETDATE());
    SELECT
        er.estado AS EstadoReserva,
        COUNT(r.id_reserva) AS CantidadReservas,
        ISNULL(SUM(r.monto_reserva), 0) AS TotalRecaudado
    FROM reservas r
    JOIN estados_reservas er ON r.id_estado_reserva = er.id_estado_reserva
    WHERE MONTH(r.fecha) = @mesActual AND YEAR(r.fecha) = @anioActual
    GROUP BY er.estado
    ORDER BY TotalRecaudado DESC, CantidadReservas DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Clientes_Frecuentes_Promos]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Clientes_Frecuentes_Promos]
    @FechaDesde DATE = NULL,
    @FechaHasta DATE = NULL,
    @IdPelicula INT = NULL,
    @MinPeliculas INT = 0,
    @Top INT = NULL
AS
BEGIN
    SELECT
        c.cod_cliente AS CodCliente,
        c.nombre AS NombreCliente,
        c.apellido AS ApellidoCliente,
        COUNT(DISTINCT f.id_pelicula) AS PeliculasDistintas,
        COUNT(e.nro_entrada) AS TotalEntradas,
        ISNULL(SUM(df.cantidad * df.precio_unitario), 0) AS TotalGastado,
        MIN(CONVERT(date, fa.fecha)) AS PrimeraCompra,
        MAX(CONVERT(date, fa.fecha)) AS UltimaCompra
    INTO #ResultadosClientes
    FROM facturas fa
    JOIN detalle_facturas df ON df.nro_factura = fa.nro_factura
    JOIN entradas e ON e.nro_entrada = df.nro_entrada
    JOIN funciones f ON f.id_funcion = e.id_funcion
    JOIN peliculas p ON p.id_pelicula = f.id_pelicula
    JOIN clientes c ON c.cod_cliente = fa.cod_cliente
    WHERE (@FechaDesde IS NULL OR CONVERT(date, fa.fecha) >= @FechaDesde)
      AND (@FechaHasta IS NULL OR CONVERT(date, fa.fecha) <= @FechaHasta)
      AND (@IdPelicula IS NULL OR f.id_pelicula = @IdPelicula)
    GROUP BY c.cod_cliente, c.nombre, c.apellido
    HAVING COUNT(DISTINCT f.id_pelicula) >= @MinPeliculas;

    IF @Top IS NULL
        SELECT * FROM #ResultadosClientes ORDER BY TotalGastado DESC;
    ELSE
        SELECT TOP(@Top) * FROM #ResultadosClientes ORDER BY TotalGastado DESC;

    DROP TABLE #ResultadosClientes;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_funciones]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_funciones]
    @Genero NVARCHAR(50) = NULL,
    @FechaDesde DATE = NULL,
    @FechaHasta DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        p.titulo,
        g.genero,
        fu.fecha,
        fu.id_horario,
        s.nro_sala,
        ts.tipo_sala,
        ISNULL(f.formato, 'Sin formato') AS formato,
        ISNULL(d.nombre, 'Desconocido') AS director
    FROM funciones fu
        INNER JOIN peliculas p ON fu.id_pelicula = p.id_pelicula
        INNER JOIN peliculas_generos pg ON p.id_pelicula = pg.id_pelicula
        INNER JOIN generos g ON pg.id_genero = g.id_genero
        INNER JOIN salas s ON fu.id_sala = s.id_sala
        INNER JOIN tipos_salas ts ON s.id_tipo_sala = ts.id_tipo_sala
        LEFT JOIN formatos_peliculas f ON p.id_formato_pelicula = f.id_formato_pelicula
        LEFT JOIN directores d ON p.id_director = d.id_director
    WHERE 
        (@Genero IS NULL OR g.genero LIKE '%' + @Genero + '%')
        AND (fu.fecha BETWEEN ISNULL(@FechaDesde, '1900-01-01') AND ISNULL(@FechaHasta, '2100-12-31'))
    ORDER BY fu.fecha;

    SELECT 
        COUNT(*) AS [Total de funciones],
        COUNT(DISTINCT f.formato) AS [Cantidad de formatos]
    FROM funciones fu
        INNER JOIN peliculas p ON fu.id_pelicula = p.id_pelicula
        INNER JOIN peliculas_generos pg ON p.id_pelicula = pg.id_pelicula
        INNER JOIN generos g ON pg.id_genero = g.id_genero
        LEFT JOIN formatos_peliculas f ON p.id_formato_pelicula = f.id_formato_pelicula
    WHERE 
        (@Genero IS NULL OR g.genero LIKE '%' + @Genero + '%')
        AND (fu.fecha BETWEEN ISNULL(@FechaDesde, '1900-01-01') AND ISNULL(@FechaHasta, '2100-12-31'));
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Recaudacion_Por_Pelicula]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Recaudacion_Por_Pelicula]
    @FechaDesde DATE,
    @FechaHasta DATE,
    @IdPelicula INT = NULL
AS
BEGIN
    DECLARE @Resultados TABLE (
        IdPelicula INT,
        Pelicula NVARCHAR(200),
        TotalEntradasVendidas INT,
        TotalRecaudado DECIMAL(18,2),
        PrimeraFuncion DATE,
        UltimaFuncion DATE
    );

    INSERT INTO @Resultados
    SELECT
        p.id_pelicula AS IdPelicula,
        p.titulo AS Pelicula,
        ISNULL(SUM(df.cantidad), 0),
        ISNULL(SUM(CAST(df.cantidad AS DECIMAL(18,2)) * df.precio_unitario), 0.00),
        MIN(f.fecha),
        MAX(f.fecha)
    FROM peliculas p
    LEFT JOIN funciones f ON p.id_pelicula = f.id_pelicula
    LEFT JOIN entradas e ON f.id_funcion = e.id_funcion
    LEFT JOIN detalle_facturas df ON e.nro_entrada = df.nro_entrada
    LEFT JOIN facturas fa ON df.nro_factura = fa.nro_factura
    WHERE (@IdPelicula IS NULL OR p.id_pelicula = @IdPelicula)
      AND (fa.fecha IS NULL OR CONVERT(DATE, fa.fecha) BETWEEN @FechaDesde AND @FechaHasta)
    GROUP BY p.id_pelicula, p.titulo;
    
    SELECT 
        IdPelicula,
        Pelicula,
        TotalEntradasVendidas,
        TotalRecaudado,
        PrimeraFuncion,
        UltimaFuncion
    FROM @Resultados
    WHERE TotalEntradasVendidas > 0
    ORDER BY TotalRecaudado DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_ObtenerPerfilCliente]    Script Date: 14/11/2025 10:13:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ObtenerPerfilCliente] 
    @ClienteID INT 
AS 
BEGIN 
    SELECT 
        c.nombre, 
        c.apellido, 
        c.fecha_registro, 
         
        ISNULL((SELECT SUM(df.precio_unitario) 
                FROM facturas AS f 
                JOIN detalle_facturas AS df ON f.nro_factura = df.nro_factura 
                WHERE f.cod_cliente = @ClienteID), 0) AS GastoTotalEntradas, 
 
        (SELECT TOP 1 g.genero 
         FROM generos g 
         JOIN peliculas_generos pg ON g.id_genero = pg.id_genero 
         JOIN peliculas p ON pg.id_pelicula = p.id_pelicula 
         JOIN funciones fu ON p.id_pelicula = fu.id_pelicula 
         JOIN entradas e ON fu.id_funcion = e.id_funcion 
         JOIN detalle_facturas df ON e.nro_entrada = df.nro_entrada 
         JOIN facturas f ON df.nro_factura = f.nro_factura 
         WHERE f.cod_cliente = @ClienteID 
         GROUP BY g.genero 
         ORDER BY COUNT(g.id_genero) DESC) AS GeneroFavorito 
    FROM 
        clientes c 
    WHERE 
        c.cod_cliente = @ClienteID; 
 
    SELECT DISTINCT 
        p.titulo AS PeliculaVista, 
        p.fecha_lanzamiento AS Estreno, 
        fu.fecha AS FechaDeLaFuncion 
    FROM 
        peliculas p 
    JOIN funciones fu ON p.id_pelicula = fu.id_pelicula 
    JOIN entradas e ON fu.id_funcion = e.id_funcion 
    JOIN detalle_facturas df ON e.nro_entrada = df.nro_entrada 
    JOIN facturas f ON df.nro_factura = f.nro_factura 
    WHERE 
        f.cod_cliente = @ClienteID 
    ORDER BY 
        FechaDeLaFuncion DESC; 
END
GO
